spring:
  datasource:
    url: {{
          'jdbc:postgresql://localhost:5432/' + (j2_project_name | replace('-', '_'))
          if j2_database_type == 'postgresql' else
          'jdbc:mysql://localhost:3306/' + (j2_project_name | replace('-', '_')) + '?useSSL=false&serverTimezone=UTC'
          if j2_database_type == 'mysql' else
          'jdbc:mariadb://localhost:3306/' + (j2_project_name | replace('-', '_'))
      }}
    username: {{ 'admin' if j2_database_type == 'postgresql' else 'root' }}
    password: {{ 'admin' if j2_database_type == 'postgresql' else 'root' }}
    driver-class-name: {{
          'org.postgresql.Driver' if j2_database_type == 'postgresql' else
          'com.mysql.cj.jdbc.Driver' if j2_database_type == 'mysql' else
          'org.mariadb.jdbc.Driver'
      }}
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"
  endpoint:
    health:
      show-details: never
    shutdown:
      enabled: false

app:
  security:
    jwt:
      secret: {{ jwt_secret }}
  sso:
    rpc-url: {{ sso_rpc_url }}
