package {{ j2_base_package }}.service;

import {{ j2_base_package }}.dto.{{ class_name }}DTO;
import {{ j2_base_package }}.entity.{{ class_name }};

public interface {{ class_name }}Service extends BaseService<{{ class_name }}, {{ id_type }}, {{ class_name }}DTO> {
}
