package {{ j2_base_package }}.security;

import {{ j2_base_package }}.dto.UserDTO;
import {{ j2_base_package }}.service.UserService;
import lombok.RequiredArgsConstructor;
import org.springframework.security.core.userdetails.UserDetailsService;
import org.springframework.security.core.userdetails.UsernameNotFoundException;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

@Service
@RequiredArgsConstructor
public class UserDetailsServiceImpl implements UserDetailsService {

    private final UserService userService;

    @Override
    @Transactional(readOnly = true)
    public CustomUserDetails loadUserByUsername(String username) throws UsernameNotFoundException {
        UserDTO user = userService.findByUsername(username)
                .orElseThrow(() -> new UsernameNotFoundException("Người dùng " + username + " không tồn tại"));

        return new CustomUserDetails(username, user);
    }
} 