package {{ j2_base_package }}.config;

import {{ j2_base_package }}.entity.User;
import {{ j2_base_package }}.mapper.UserMapper;
import {{ j2_base_package }}.common.utils.SecurityUtil;
import lombok.RequiredArgsConstructor;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.data.domain.AuditorAware;
import org.springframework.data.jpa.repository.config.EnableJpaAuditing;
import org.springframework.security.core.Authentication;
import org.springframework.security.core.context.SecurityContextHolder;

import java.util.Optional;

/**
 * Kích hoạt tính năng auditing cho JPA (tự động điền createdBy, updatedBy, ...).

 */
@Configuration
@EnableJpaAuditing(auditorAwareRef = "auditorProvider")
@RequiredArgsConstructor
public class AuditConfig {

    private final UserMapper userMapper;

    @Bean
    public AuditorAware<User> auditorProvider() {
        return () -> SecurityUtil.getCurrentUser().map(userMapper::toEntity);
    }
} 